Repository onekey-sec/unblob, pull requests merged in 2022-12, with the labels that each got.

#478 feat(handler/cpio): add new item to C_STICKY_BITS
  tests/integration/archive/cpio/cpio_portable_ascii/__input__/test.newc.cpio.06000.sticky
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test0
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test00
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test000
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test0000
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test0001
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test0002
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test0003
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test001
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test002
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test003
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test01
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test02
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test03
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test1
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test2
  tests/integration/archive/cpio/cpio_portable_ascii/__output__/test.newc.cpio.06000.sticky_extract/test3
  unblob/handlers/archive/cpio.py
Labels: enhancement, format:archive

#481 Extend default skip list
  unblob/processing.py
Labels: enhancement

#484 Fix lzop extraction
  unblob/handlers/compression/lzo.py
Labels: bug, format:compression
