Repository onekey-sec/unblob, pull requests merged in 2022-05, with the labels that each got.

#367 Use -no-directory switch when extracting with unar
  tests/integration/archive/arc/__output__/fruits.arc_extract/aaaaaaaa.txt
  tests/integration/archive/arc/__output__/fruits.arc_extract/apple.txt
  tests/integration/archive/arc/__output__/fruits.arc_extract/cherry.txt
  tests/integration/archive/rar/default/__output__/erdbeere.rar_extract/erdbeere1.txt
  tests/integration/archive/rar/default/__output__/erdbeere.rar_extract/erdbeere2.txt
  tests/integration/archive/rar/default/__output__/erdbeere.rar_extract/erdbeere3.txt
  tests/integration/archive/rar/default/__output__/erdbeere.rar_extract/erdbeere4.txt
  tests/integration/archive/stuffit/stuffit5/__output__/plum.sit5_extract/plum1.txt
  tests/integration/archive/stuffit/stuffit5/__output__/plum.sit5_extract/plum2.txt
  tests/integration/archive/stuffit/stuffit5/__output__/plum.sit5_extract/plum3.txt
  tests/integration/archive/stuffit/stuffit5/__output__/plum.sit5_extract/plum4.txt
  unblob/handlers/archive/arc.py
  unblob/handlers/archive/rar.py
  unblob/handlers/archive/stuffit.py
Labels: enhancement, format:archive

#364 Fix handling of LZ4 legacy frames.
  poetry.lock
  pyproject.toml
  unblob/handlers/compression/lz4.py
Labels: bug, format:compression

#363 Complete rewrite of XZ handler.
  tests/handlers/archive/test_tar.py
  tests/handlers/compression/test_xz.py
  tests/helpers.py
  tests/test_helpers.py
  unblob/handlers/compression/xz.py
Labels: enhancement, format:compression

#381 Add SQLite3 files to the skip list
  unblob/processing.py
Labels: enhancement
