Repository onekey-sec/unblob, pull requests merged in 2022-04, with the labels that each got.

#328 Stop emitting a ValidChunk for every bzip2 stream.
  tests/integration/compression/bzip2/__input__/collated.bzip2
  tests/integration/compression/bzip2/__input__/collated.headpad.bzip2
  tests/integration/compression/bzip2/__output__/collated.bzip2_extract/collated
  tests/integration/compression/bzip2/__output__/collated.headpad.bzip2_extract/0-17.unknown
  tests/integration/compression/bzip2/__output__/collated.headpad.bzip2_extract/17-5107.bzip2
  tests/integration/compression/bzip2/__output__/collated.headpad.bzip2_extract/17-5107.bzip2_extract/17-5107
  unblob/handlers/compression/bzip2.py
Labels: enhancement, format:compression

#334 sevenzip: check header checksum to eliminate false-positive matches
  unblob/handlers/archive/sevenzip.py
Labels: enhancement, format:archive

#333 lzo: check header checksum to eliminate false-positive matches
  unblob/handlers/compression/lzo.py
Labels: enhancement, format:compression

#335 lzh: check header length to eliminate some false-positive
  unblob/handlers/compression/lzh.py
Labels: enhancement, format:compression

#319 Add force overwrite extract dir option
  tests/test_cleanup.py
  tests/test_cli.py
  tests/test_handlers.py
  tests/test_processing.py
  unblob/cli.py
  unblob/models.py
  unblob/processing.py
  unblob/report.py
Labels: enhancement

#349 Add binary flat executables (BFLT) to the skip list
  unblob/processing.py
Labels: enhancement
