Repository onekey-sec/unblob, pull requests merged in 2022-03, with the labels that each got.

#279 Fix metadata file export
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.gnu.tar_extract/0-30720.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple1.txt
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.gnu.tar_extract/0-30720.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple2.txt
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.gnu.tar_extract/0-30720.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple3.txt
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.gnu.tar_extract/0-30720.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple4.txt
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/PaxHeaders/apple.gnu.tar
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/PaxHeaders/apple.posix.tar
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/PaxHeaders/banana1.txt
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/PaxHeaders/banana2.txt
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/PaxHeaders/banana3.txt
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/PaxHeaders/banana4.txt
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple1.txt
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple2.txt
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple3.txt
  tests/integration/archive/tar/__output__/cherry.gnu.tar_extract/0-81920.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple4.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/PaxHeaders/banana.gnu.tar
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/PaxHeaders/banana.posix.tar
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/PaxHeaders/cherry1.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/PaxHeaders/cherry2.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/PaxHeaders/cherry3.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/PaxHeaders/cherry4.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.gnu.tar_extract/0-30720.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple1.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.gnu.tar_extract/0-30720.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple2.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.gnu.tar_extract/0-30720.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple3.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.gnu.tar_extract/0-30720.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple4.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/PaxHeaders/apple.gnu.tar
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/PaxHeaders/apple.posix.tar
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/PaxHeaders/banana1.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/PaxHeaders/banana2.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/PaxHeaders/banana3.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/PaxHeaders/banana4.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple1.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple2.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple3.txt
  tests/integration/archive/tar/__output__/cherry.posix.tar_extract/0-92160.tar_extract/banana.posix.tar_extract/0-40960.tar_extract/apple.posix.tar_extract/0-10240.tar_extract/PaxHeaders/apple4.txt
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$AttrDef
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$BadClus
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$Bitmap
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$Boot
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$Extend/$ObjId
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$Extend/$Quota
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$Extend/$Reparse
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$LogFile
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$MFT
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$MFTMirr
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$Secure
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$Secure:$SDS
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$UpCase
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$UpCase:$Info
  tests/integration/filesystem/ntfs/__output__/fruits.ntfs_extract/512-1228800.ntfs_extract/[SYSTEM]/$Volume
  unblob/handlers/archive/tar.py
  unblob/handlers/filesystem/ntfs.py
Labels: enhancement, format:archive, format:filesystem

#278 Replace extfs filesystem handler extractor.
  .github/actions/setup-dependencies/action.yml
  Dockerfile
  default.nix
  unblob/handlers/filesystem/extfs.py
Labels: bug, format:filesystem

#264 Enhance squashfs extraction handling.
  .github/actions/setup-dependencies/action.yml
  Dockerfile
  default.nix
  flake.lock
  flake.nix
  nix/sasquatch/default.nix
  nix/squashfsTools/0001-Unsquash-3-Fix-segmentation-fault-in-read_inode.patch
  nix/squashfsTools/default.nix
  overlay.nix
  tests/integration/filesystem/squashfs/squashfs_v4/__input__/squashfs_v4.blockdev.bin
  tests/integration/filesystem/squashfs/squashfs_v4/__output__/squashfs_v4.blockdev.bin_extract/0-4096.squashfs_v4
  tests/integration/filesystem/squashfs/squashfs_v4/__output__/squashfs_v4.blockdev.bin_extract/0-4096.squashfs_v4_extract/apple1.txt
  tests/integration/filesystem/squashfs/squashfs_v4/__output__/squashfs_v4.blockdev.bin_extract/0-4096.squashfs_v4_extract/apple2.txt
  tests/integration/filesystem/squashfs/squashfs_v4/__output__/squashfs_v4.blockdev.bin_extract/0-4096.squashfs_v4_extract/apple3.txt
  tests/integration/filesystem/squashfs/squashfs_v4/__output__/squashfs_v4.blockdev.bin_extract/0-4096.squashfs_v4_extract/apple4.txt
  unblob/handlers/filesystem/squashfs.py
Labels: enhancement, format:filesystem

#283 Revert to 7zip v16.02 from 7zip v21.07.
  .github/actions/setup-dependencies/action.yml
  Dockerfile
  README.md
  default.nix
Labels: enhancement

#285 Upgrade jefferson dependency.
  pyproject.toml
Labels: enhancement, format:filesystem

#273 Out of tree handlers
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/extractors/test_command.py
  tests/plugins/__assets__/directory_of_plugin_files/first.py
  tests/plugins/__assets__/directory_of_plugin_files/second.py
  tests/plugins/__assets__/directory_of_plugin_packages/first/__init.py
  tests/plugins/__assets__/directory_of_plugin_packages/first/__init__.py
  tests/plugins/__assets__/directory_of_plugin_packages/first/module.py
  tests/plugins/__assets__/directory_of_plugin_packages/second/__init__.py
  tests/plugins/__assets__/single_file_plugin.py
  tests/plugins/test_plugins.py
  tests/test_cli.py
  tests/test_handlers.py
  tests/test_models.py
  unblob/cli.py
  unblob/dependencies.py
  unblob/extractor.py
  unblob/extractors/__init__.py
  unblob/extractors/command.py
  unblob/finder.py
  unblob/handlers/__init__.py
  unblob/handlers/archive/ar.py
  unblob/handlers/archive/arc.py
  unblob/handlers/archive/arj.py
  unblob/handlers/archive/cab.py
  unblob/handlers/archive/cpio.py
  unblob/handlers/archive/dmg.py
  unblob/handlers/archive/rar.py
  unblob/handlers/archive/sevenzip.py
  unblob/handlers/archive/stuffit.py
  unblob/handlers/archive/tar.py
  unblob/handlers/archive/zip.py
  unblob/handlers/compression/bzip2.py
  unblob/handlers/compression/compress.py
  unblob/handlers/compression/gzip.py
  unblob/handlers/compression/lz4.py
  unblob/handlers/compression/lzh.py
  unblob/handlers/compression/lzip.py
  unblob/handlers/compression/lzma.py
  unblob/handlers/compression/lzo.py
  unblob/handlers/compression/xz.py
  unblob/handlers/filesystem/android/sparse.py
  unblob/handlers/filesystem/cramfs.py
  unblob/handlers/filesystem/extfs.py
  unblob/handlers/filesystem/fat.py
  unblob/handlers/filesystem/iso9660.py
  unblob/handlers/filesystem/jffs2.py
  unblob/handlers/filesystem/ntfs.py
  unblob/handlers/filesystem/romfs.py
  unblob/handlers/filesystem/squashfs.py
  unblob/handlers/filesystem/ubi.py
  unblob/handlers/filesystem/yaffs.py
  unblob/hookspecs.py
  unblob/models.py
  unblob/plugins.py
  unblob/processing.py
  unblob/report.py
Labels: enhancement

#315 Fix gzip extraction failures due to null-bytes padding.
  unblob/handlers/compression/gzip.py
Labels: bug, format:compression

#311 Fix XZ overall_size calculation.
  tests/integration/compression/xz/__input__/multiblock.padded.xz
  tests/integration/compression/xz/__output__/multiblock.padded.xz_extract/0-2168.xz
  tests/integration/compression/xz/__output__/multiblock.padded.xz_extract/0-2168.xz_extract/0-2168
  unblob/handlers/compression/xz.py
Labels: bug, format:compression

#308 arj: extended yara rule to verify header size and header checksum verification
  tests/handlers/archive/test_arj.py
  unblob/handlers/archive/arj.py
  unblob/models.py
Labels: enhancement, format:archive

#322 Add false positive checks to YAFFS handlers.
  unblob/handlers/filesystem/yaffs.py
Labels: bug, format:filesystem
