Repository onekey-sec/unblob, pull requests merged in 2022-10, with the labels that each got.

#454 fix(xz): fix early return and EOFError on stream size calculation
  unblob/handlers/compression/xz.py
Labels: bug, format:compression

#460 Resolve path traversal and unhandled permission error in tar handler
  tests/integration/archive/tar/__input__/traversal.tar
  tests/integration/archive/tar/__output__/traversal.tar_extract/traversal
  tests/integration/archive/tar/__output__/traversal.tar_extract/traversal_extract/.gitkeep
  unblob/handlers/archive/_safe_tarfile.py
  unblob/handlers/archive/tar.py
Labels: bug, format:archive

#463 fix(handlers): improve ZIP handler to support known indicators of ZIP64
  unblob/handlers/archive/zip.py
Labels: enhancement, format:archive
