Repository onekey-sec/unblob, pull requests merged in 2023-04, with the labels that each got.

#556 fix(handlers): catch FileExistsError raised by tarfile library.
  tests/integration/archive/tar/__input__/linktest_missing_dir.tar
  tests/integration/archive/tar/__output__/linktest_missing_dir.tar_extract/linktest/link
  unblob/handlers/archive/tar.py
Labels: bug

#537 feat(handler): Add support for INSTAR HD format
  tests/integration/archive/instar/instar_hd/__input__/sample.pkg
  tests/integration/archive/instar/instar_hd/__output__/sample.pkg_extract/instar_hd.deobfuscated
  tests/integration/archive/instar/instar_hd/__output__/sample.pkg_extract/instar_hd.deobfuscated_extract/sample.txt
  unblob/file_utils.py
  unblob/handlers/__init__.py
  unblob/handlers/archive/instar/instar_hd.py
  unblob/handlers/archive/zip.py
Labels: format:archive, format request

#565 fix(handlers): fix edge cases in tar handler (empty name, too long name).
  tests/integration/archive/tar/__input__/emptyname.tar
  tests/integration/archive/tar/__input__/longname.tar
  tests/integration/archive/tar/__output__/emptyname.tar_extract/apple.txt
  tests/integration/archive/tar/__output__/longname.tar_extract/apple.txt
  unblob/handlers/archive/_safe_tarfile.py
Labels: bug, format:archive
