Repository onekey-sec/unblob, pull requests merged in 2023-02, with the labels that each got.

#503 chore(pre-commit): upgrade pre-commit dependencies.
  .pre-commit-config.yaml
  tests/handlers/filesystem/test_romfs.py
  tests/test_extractor.py
  unblob/file_utils.py
  unblob/finder.py
  unblob/handlers/archive/arc.py
  unblob/handlers/archive/cpio.py
  unblob/handlers/archive/rar.py
  unblob/handlers/archive/stuffit.py
  unblob/handlers/archive/zip.py
  unblob/handlers/compression/compress.py
  unblob/handlers/compression/gzip.py
  unblob/handlers/compression/lz4.py
  unblob/handlers/compression/lzh.py
  unblob/handlers/compression/lzip.py
  unblob/handlers/compression/lzma.py
  unblob/handlers/compression/lzo.py
  unblob/handlers/compression/xz.py
  unblob/handlers/compression/zlib.py
  unblob/handlers/compression/zstd.py
  unblob/handlers/executable/elf.py
  unblob/handlers/filesystem/android/sparse.py
  unblob/handlers/filesystem/cramfs.py
  unblob/handlers/filesystem/extfs.py
  unblob/handlers/filesystem/fat.py
  unblob/handlers/filesystem/iso9660.py
  unblob/handlers/filesystem/jffs2.py
  unblob/handlers/filesystem/ntfs.py
  unblob/handlers/filesystem/romfs.py
  unblob/handlers/filesystem/squashfs.py
  unblob/handlers/filesystem/ubi.py
  unblob/handlers/filesystem/yaffs.py
Labels: dependencies

#504 chore(deps): replace ubi-reader fork by official PyPi version.
  .github/actions/setup-dependencies/action.yml
  poetry.lock
  pyproject.toml
  unblob/handlers/filesystem/ubi.py
Labels: dependencies

#509 upgrade pyperscan to 0.2.0
  poetry.lock
  pyproject.toml
Labels: dependencies

#505 replace jefferson fork by the recently released PyPi package
  default.nix
  poetry.lock
  pyproject.toml
Labels: enhancement, dependencies

#506 Add support for NETGEAR CHK format
  tests/integration/archive/netgear/chk/__input__/sample.chk
  tests/integration/archive/netgear/chk/__output__/sample.chk_extract/kernel
  tests/integration/archive/netgear/chk/__output__/sample.chk_extract/rootfs
  unblob/handlers/__init__.py
  unblob/handlers/archive/netgear/chk.py
Labels: enhancement, format:archive

#508 Add support for NETGEAR TRX format
  tests/integration/archive/netgear/trx/trx_v1/__input__/sample.trx
  tests/integration/archive/netgear/trx/trx_v1/__output__/sample.trx_extract/part0
  tests/integration/archive/netgear/trx/trx_v1/__output__/sample.trx_extract/part1
  tests/integration/archive/netgear/trx/trx_v1/__output__/sample.trx_extract/part2
  tests/integration/archive/netgear/trx/trx_v2/__input__/sample.trx
  tests/integration/archive/netgear/trx/trx_v2/__output__/sample.trx_extract/part0
  tests/integration/archive/netgear/trx/trx_v2/__output__/sample.trx_extract/part1
  tests/integration/archive/netgear/trx/trx_v2/__output__/sample.trx_extract/part2
  tests/integration/archive/netgear/trx/trx_v2/__output__/sample.trx_extract/part3
  unblob/handlers/__init__.py
  unblob/handlers/archive/netgear/trx.py
Labels: enhancement, format:archive

#512 Fix extraction of zipped up extractions
  tests/integration/archive/tar/__output__/traversal.tar_extract/traversal_extract/.gitkeep
  tests/test_extractor.py
  tests/test_processing.py
  unblob/extractor.py
  unblob/processing.py
Labels: bug, enhancement

#517 feat(handler): Add support for encrpted_img format
  poetry.lock
  pyproject.toml
  tests/integration/archive/dlink/encrpted_img/__input__/fruits.dec
  tests/integration/archive/dlink/encrpted_img/__output__/fruits.dec_extract/fruits.dec.decrypted
  tests/integration/archive/dlink/encrpted_img/__output__/fruits.dec_extract/fruits.dec.decrypted_extract/img-1180426539_vol-apple.ubifs
  tests/integration/archive/dlink/encrpted_img/__output__/fruits.dec_extract/fruits.dec.decrypted_extract/img-1180426539_vol-data.ubifs
  unblob/handlers/__init__.py
  unblob/handlers/archive/dlink/encrpted_img.py
Labels: enhancement, format:archive

#516 Nix: build without poetry2nix with support for aarch64-linux and x86_64-darwin
  .github/workflows/build-nix.yml
  .github/workflows/rust-binding.yml
  default.nix
  flake.lock
  flake.nix
  nix/arpy/default.nix
  nix/cstruct/default.nix
  nix/gnustep/default.nix
  nix/jefferson/default.nix
  nix/plotext/default.nix
  nix/poetry/default.nix
  nix/python/default.nix
  nix/sasquatch/default.nix
  nix/ubi-reader/default.nix
  nix/unblob/default.nix
  nix/unblob/rust-module.nix
  nix/unblob/tests.nix
  nix/yaffshiv/default.nix
  overlay.nix
  rust-toolchain.toml
  shell.nix
  tests/test_processing.py
  unblob/handlers/filesystem/extfs.py
  unblob/pool.py
Labels: enhancement, dependencies

#523 feat(handler): Add support for DLINK SHRS format
  tests/integration/archive/dlink/shrs/__input__/sample.bin
  tests/integration/archive/dlink/shrs/__output__/sample.bin_extract/sample.bin.decrypted
  tests/integration/archive/dlink/shrs/__output__/sample.bin_extract/sample.bin.decrypted_extract/img-1180426539_vol-apple.ubifs
  tests/integration/archive/dlink/shrs/__output__/sample.bin_extract/sample.bin.decrypted_extract/img-1180426539_vol-data.ubifs
  unblob/handlers/__init__.py
  unblob/handlers/archive/dlink/shrs.py
Labels: enhancement, format:archive
