Repository onekey-sec/unblob, pull requests merged in 2023-03, with the labels that each got.

#525 Fix CI issues
  .github/workflows/build-nix.yml
  tests/test_bindings.py
  unblob/math.py
Labels: bug, dependencies

#527 fix(tests): fix squashfs v4 big-endian 4k padding integration test.
  tests/integration/filesystem/squashfs/squashfs_v4_be/__input__/squashfs_v4.4kpad.bin
Labels: bug, format:filesystem

#518 Keep carved out ELF chunks as files
  .gitignore
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/integration/executable/elf/elf32/__output__/sample_32_be.elf_extract/13-5877.elf32_extract/13-5877.elf32
  tests/integration/executable/elf/elf32/__output__/sample_32_le.elf_extract/13-15601.elf32_extract/13-15601.elf32
  tests/integration/executable/elf/elf64/__input__/linux-kernel-with-initramfs-without-loadable-modules
  tests/integration/executable/elf/elf64/__input__/linux-kernel-with-loadable-modules-and-initramfs
  tests/integration/executable/elf/elf64/__output__/hellomod.sha1.brokensig.ko_extract/0-215704.elf64_extract/0-215704.elf64
  tests/integration/executable/elf/elf64/__output__/hellomod.sha1.extra.ko_extract/0-216459.elf64_extract/0-216459.elf64
  tests/integration/executable/elf/elf64/__output__/hellomod.sha1.nofooter.ko_extract/0-215704.elf64_extract/0-215704.elf64
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-initramfs-without-loadable-modules_extract/0-15039.unknown
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-initramfs-without-loadable-modules_extract/1184915-1206304.unknown
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-initramfs-without-loadable-modules_extract/15039-1184915.xz
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-initramfs-without-loadable-modules_extract/15039-1184915.xz_extract/15039-1184915
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-initramfs-without-loadable-modules_extract/15039-1184915.xz_extract/15039-1184915_extract/initramfs
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-initramfs-without-loadable-modules_extract/15039-1184915.xz_extract/15039-1184915_extract/initramfs_extract/0-366109.gzip
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-initramfs-without-loadable-modules_extract/15039-1184915.xz_extract/15039-1184915_extract/initramfs_extract/0-366109.gzip_extract/initramfs.cpio
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-initramfs-without-loadable-modules_extract/15039-1184915.xz_extract/15039-1184915_extract/initramfs_extract/0-366109.gzip_extract/initramfs.cpio_extract/init
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-initramfs-without-loadable-modules_extract/15039-1184915.xz_extract/15039-1184915_extract/initramfs_extract/366109-366113.unknown
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-loadable-modules-and-initramfs_extract/0-15039.unknown
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-loadable-modules-and-initramfs_extract/1228599-1249984.unknown
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-loadable-modules-and-initramfs_extract/15039-1228599.xz
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-loadable-modules-and-initramfs_extract/15039-1228599.xz_extract/15039-1228599
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-loadable-modules-and-initramfs_extract/15039-1228599.xz_extract/15039-1228599_extract/initramfs
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-loadable-modules-and-initramfs_extract/15039-1228599.xz_extract/15039-1228599_extract/initramfs_extract/initramfs.cpio
  tests/integration/executable/elf/elf64/__output__/linux-kernel-with-loadable-modules-and-initramfs_extract/15039-1228599.xz_extract/15039-1228599_extract/initramfs_extract/initramfs.cpio_extract/init
  tests/integration/executable/elf/elf64/__output__/sample_64_be.elf_extract/13-67741.elf64_extract/13-67741.elf64
  tests/integration/executable/elf/elf64/__output__/sample_64_le.elf_extract/13-16709.elf64_extract/13-16709.elf64
  unblob/handlers/executable/elf.py
  unblob/models.py
  unblob/processing.py
  unblob/report.py
Labels: enhancement, format:executable

#530 Remove cstruct
  nix/unblob/default.nix
  poetry.lock
  pyproject.toml
Labels: dependencies

#514 Add support for Engenius encrypted firmwares.
  tests/integration/archive/engeniustech/engenius/__input__/sample.bin
  tests/integration/archive/engeniustech/engenius/__output__/sample.bin_extract/sample.bin.decrypted
  unblob/handlers/__init__.py
  unblob/handlers/archive/engeniustech/engenius.py
Labels: format:archive

#529 feat(handler): Add support for XIAOMI HDR1 format
  tests/integration/archive/xiaomi/hdr/hdr1/__input__/sample.bin
  tests/integration/archive/xiaomi/hdr/hdr1/__output__/sample.bin_extract/blob0
  tests/integration/archive/xiaomi/hdr/hdr1/__output__/sample.bin_extract/blob1
  tests/integration/archive/xiaomi/hdr/hdr1/__output__/sample.bin_extract/blob2
  tests/integration/archive/xiaomi/hdr/hdr1/__output__/sample.bin_extract/blob3
  tests/integration/archive/xiaomi/hdr/hdr1/__output__/sample.bin_extract/blob4
  tests/integration/archive/xiaomi/hdr/hdr1/__output__/sample.bin_extract/blob5
  tests/integration/archive/xiaomi/hdr/hdr1/__output__/sample.bin_extract/blob6
  tests/integration/archive/xiaomi/hdr/hdr1/__output__/sample.bin_extract/blob7
  tests/integration/archive/xiaomi/hdr/hdr2/__input__/sample.bin
  tests/integration/archive/xiaomi/hdr/hdr2/__output__/sample.bin_extract/blob0
  tests/integration/archive/xiaomi/hdr/hdr2/__output__/sample.bin_extract/blob1
  tests/integration/archive/xiaomi/hdr/hdr2/__output__/sample.bin_extract/blob2
  tests/integration/archive/xiaomi/hdr/hdr2/__output__/sample.bin_extract/blob3
  tests/integration/archive/xiaomi/hdr/hdr2/__output__/sample.bin_extract/blob4
  tests/integration/archive/xiaomi/hdr/hdr2/__output__/sample.bin_extract/blob5
  tests/integration/archive/xiaomi/hdr/hdr2/__output__/sample.bin_extract/blob6
  tests/integration/archive/xiaomi/hdr/hdr2/__output__/sample.bin_extract/blob7
  unblob/handlers/__init__.py
  unblob/handlers/archive/xiaomi/hdr.py
Labels: format:archive

#532 feat(handler): add support for squashfsv2.
  .github/actions/setup-dependencies/action.yml
  Dockerfile
  docs/installation.md
  flake.lock
  flake.nix
  tests/integration/filesystem/squashfs/squashfs_v2/big_endian/__input__/squashfs_v2.0_be.bin
  tests/integration/filesystem/squashfs/squashfs_v2/big_endian/__input__/squashfs_v2.1_be.bin
  tests/integration/filesystem/squashfs/squashfs_v2/big_endian/__output__/squashfs_v2.0_be.bin_extract/apple1.txt
  tests/integration/filesystem/squashfs/squashfs_v2/big_endian/__output__/squashfs_v2.0_be.bin_extract/apple2.txt
  tests/integration/filesystem/squashfs/squashfs_v2/big_endian/__output__/squashfs_v2.0_be.bin_extract/apple3.txt
  tests/integration/filesystem/squashfs/squashfs_v2/big_endian/__output__/squashfs_v2.0_be.bin_extract/apple4.txt
  tests/integration/filesystem/squashfs/squashfs_v2/big_endian/__output__/squashfs_v2.1_be.bin_extract/apple1.txt
  tests/integration/filesystem/squashfs/squashfs_v2/big_endian/__output__/squashfs_v2.1_be.bin_extract/apple2.txt
  tests/integration/filesystem/squashfs/squashfs_v2/big_endian/__output__/squashfs_v2.1_be.bin_extract/apple3.txt
  tests/integration/filesystem/squashfs/squashfs_v2/big_endian/__output__/squashfs_v2.1_be.bin_extract/apple4.txt
  tests/integration/filesystem/squashfs/squashfs_v2/little_endian/__input__/squashfs_v2.0_le.bin
  tests/integration/filesystem/squashfs/squashfs_v2/little_endian/__input__/squashfs_v2.1_le.bin
  tests/integration/filesystem/squashfs/squashfs_v2/little_endian/__output__/squashfs_v2.0_le.bin_extract/apple1.txt
  tests/integration/filesystem/squashfs/squashfs_v2/little_endian/__output__/squashfs_v2.0_le.bin_extract/apple2.txt
  tests/integration/filesystem/squashfs/squashfs_v2/little_endian/__output__/squashfs_v2.0_le.bin_extract/apple3.txt
  tests/integration/filesystem/squashfs/squashfs_v2/little_endian/__output__/squashfs_v2.0_le.bin_extract/apple4.txt
  tests/integration/filesystem/squashfs/squashfs_v2/little_endian/__output__/squashfs_v2.1_le.bin_extract/apple1.txt
  tests/integration/filesystem/squashfs/squashfs_v2/little_endian/__output__/squashfs_v2.1_le.bin_extract/apple2.txt
  tests/integration/filesystem/squashfs/squashfs_v2/little_endian/__output__/squashfs_v2.1_le.bin_extract/apple3.txt
  tests/integration/filesystem/squashfs/squashfs_v2/little_endian/__output__/squashfs_v2.1_le.bin_extract/apple4.txt
  unblob/handlers/__init__.py
  unblob/handlers/filesystem/squashfs.py
Labels: enhancement, format:filesystem
